{% extends "base.html" %}
{% block content %}

<!-- MASTHEAD HEADER -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
<!-- Masthead Heading-->
        <h1 class="masthead-heading">Nan &#505; Grans Scran</h1>
<!-- Icon Divider-->
        <div class="divider-custom divider-light align-items-left">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-utensils"></i></div>
            <div class="divider-custom-line"></div>
        </div>
<!-- MASTHEAD SUBHEADING-->
        <p class="masthead-subheading font-weight-light mb-0">The Ultimate Family Recipe App!</p>
    </div>
</header> 


<!-- ABOUT SECTION-->
<section class="page-section text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-circle-info"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">I sorely miss Nanna & Gran and everything about them, including their fabulous cooking skills. This if for the family to share the old family favs, add known recipes, new recipes and give instructions to help recreate those old ‘back in the day’ favourites.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">I’ve shared some of Nanna & Grans original recipes on here. So go ahead and share your family recipe knowledge and keep their spirits alive  <i class="fa-solid fa-heart"></i></p></div>
        </div>
    </div>
</section>
<!-- ABOUT SECTION END-->

{% endblock %}

