{% extends "base.html" %}
{% block content %}

<!-- MAINS SECTION -->
<section class="page-section portfolio" name="mains" id="portfolio">
    <div class="container">

  
        <!-- MAINS SECTION HEADING -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mains</h2>
        <!-- ICON DIVIDER -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-carrot"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- MAINS CARDS --->
          {% for main in mains %}
            <div class="card align-items-center" style="width: 18rem;" id="soup_cards"> 
              <img src="{{ main.recipe_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ main.recipe_name }}</h5>
                    <p class="card-text">RECIPE NAME</p>
                </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ main.recipe_ingredients }}
                  <p class="card-text">RECIPE INGREDIENTS</p>
              </li>
              <li class="list-group-item">{{ main.recipe_method}}
                  <p class="card-text">RECIPE METHOD</p>
              </li>
              <li class="list-group-item">{{ main.cooking_time }}
                  <p class="card-text">RECIPE COOKING TIME</p>
              </li>
              </ul>

              <!---- Edit and Delete Buttons --->
              <div class="card-body">
                <div class="buttons">
                  <div class="action_btn">
                    <div><i class="fa-solid fa-pen-to-square"></i>
                      <a href="" id="editBtn" class="btn btn-outline-info">Edit</a>
                      <a href="" id="doneBtn" class="btn btn-outline-success">Done</a>
                    </div>


                    <!--<button type="button" class="btn btn-outline-info">View</button>
                    <a href="" class="btn btn-outline-danger">Edit</a> -->

                  </div>
                </div>
              </div>
          </div>
          {% endfor %}
         
            
  </section>         

{% endblock %}
