{% extends "base.html" %}
{% block content %}


<!------NEW RECIPE FORM, credit to the CI Task Manager Project and Bootstrap Forms & Input Fields ----->
<div class="container-fluid">
    <div class="row justify-content-center" id="new_recipecard">

        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0" id="new_recipe_header">Add your recipe here!</h3>
        <!-- ICON DIVIDER-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-clipboard"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <form name="new_recipe_form" class="row justify-content-center" method="POST" action="{{ url_for('new_recipe') }}">
        <div class="card" style="width: 18rem;" id="new_recipe_cards"> 
            <img src="https://us.123rf.com/450wm/squarelogo/squarelogo1207/squarelogo120700055/14651230-vintage-top-secret-recipe.jpg?ver=6" class="card-img-top" alt="...">
            
        <!---- CATEGORY SELECTION ----->
            <div class="input-group mb-3 justify-content-center">
                <div class="input-group-prepend floating-label">
                  <label class="input-group-text" for="category_name">Recipe Type</label>
                </div>
                <select class="custom-select" id="category_name" name="category_name" required data-validation-required-message="Please select a recipe type.">
                  <option selected disabled>Choose...</option>
                  {% for category in categories %}
                     <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                  {% endfor %}
                </select>
              </div>
            <hr>

        <!---- RECIPE NAME SECTION ----->
        <div class="card-body" id="recipe-title">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <i class="fa-solid fa-signature prefix"></i>
                  <label for="recipe_name">RECIPE NAME</label>
                  <input type="text" name="recipe_name" class="form-control" placeholder="Add Recipe Name Here" id="recipe_name" required data-validation-required-message="Please enter a recipe name.">
                  <p class="help-block text-danger"></p>
                </div>
            </div>
        </div>

        <!---- RECIPE INGREDIENTS SECTION ----->
<ul class="list-group list-group-flush">
    
        <li class="list-group-item">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                <i class="fa-solid fa-pepper-hot prefix"></i>
                    <label for="recipe_summary">RECIPE SUMMARY</label>
                    <textarea class="form-control" name="recipe_summary" id="recipe_summmary" placeholder="Add Ingredients Here" rows="3" required data-validation-required-message="Please enter recipe ingredients."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </li>


        <li class="list-group-item">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <i class="fa-solid fa-pepper-hot prefix"></i>
                    <label for="recipe_ingredients">RECIPE INGREDIENTS</label>
                    <textarea class="form-control" name="recipe_ingredients" id="recipe_ingredients" placeholder="Add Ingredients Here" rows="3" required data-validation-required-message="Please enter recipe ingredients."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </li>

       <!---- RECIPE METHOD SECTION ----->
        <li class="list-group-item">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <i class="fa-solid fa-blender prefix"></i>
                    <label for="recipe_method">RECIPE METHOD</label>
                    <textarea class="form-control" name="recipe_method" id="recipe_method" placeholder="Add how to make it here" rows="3" required data-validation-required-message="Please enter the recipe method."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </li>
        <!---- COOKING TIME SECTION ----->
         <li class="list-group-item">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <i class="fa-solid fa-clock prefix"></i>
                  <label for="cooking_time">COOKING TIME</label>
                  <input type="text" name="cooking_time" class="form-control" placeholder="Add cooking time here" id="cooking_time" required data-validation-required-message="Please enter cooking time.">
                  <p class="help-block text-danger"></p>
                </div>
            </div>
        </li>
</ul>

<!-- submit button -->
            <div class="card-body">
                <div class="col-12">
                <div class="row">
                    <div class="text-center">
                        <input class="btn btn-primary btn-success text-shadow" type="submit" value="Add to Scullery">
                        <!-- cancel button -->
                    <a href="{{ url_for('scullery') }}" class="btn btn-danger">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>



{% endblock %}