{% extends "base.html" %}
{% block content %}


<!------NEW RECIPE FORM, credit to the CI Task Manager Project and Bootstrap Forms & Input Fields ----->
<div class="container-fluid">
    <div class="row justify-content-center" id="new_recipecard">

        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0" id="new_recipe_header">Add your recipe here!</h3>
        <!-- ICON DIVIDER-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-clipboard"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <form name="new_recipe_form" class="row justify-content-center" method="POST" action="">
        <div class="card" style="width: 18rem;" id="new_recipe_cards"> 
            <img src="https://us.123rf.com/450wm/squarelogo/squarelogo1207/squarelogo120700055/14651230-vintage-top-secret-recipe.jpg?ver=6" class="card-img-top" alt="...">
            
            <div class="input-group mb-3 justify-content-center">
                <div class="input-group-prepend floating-label">
                  <label class="input-group-text" for="category_name">Recipe Type</label>
                </div>
                <select class="custom-select" id="category_name" name="category_name" required data-validation-required-message="Please select a recipe type.">
                  <option selected>Choose...</option>
                  {% for category in categories %}
                     <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                  {% endfor %}
                </select>
              </div>
            <hr>

        <div class="card-body" id="recipe-title">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <i class="fa-solid fa-signature prefix"></i>
                  <label for="recipe_name">RECIPE NAME</label>
                  <input type="text" name="recipe_name" class="form-control" placeholder="Add Recipe Name Here" id="recipe_name" required data-validation-required-message="Please enter a recipe name.">
                  <p class="help-block text-danger"></p>
                </div>
            </div>
        </div>

        <!--- 1st Item on ul card li group list-->
<ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <i class="fa-solid fa-pepper-hot prefix"></i>
                    <label for="recipe_ingredients">RECIPE INGREDIENTS</label>
                    <textarea class="form-control" name="recipe_ingredients" id="recipe_ingredients" placeholder="Add Ingredients Here" rows="3" required data-validation-required-message="Please enter recipe ingredients."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </li>

        <!--- 2nd Item on ul card li group list-->
        <li class="list-group-item">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <i class="fa-solid fa-blender prefix"></i>
                    <label for="recipe_method">RECIPE METHOD</label>
                    <textarea class="form-control" name="recipe_method" id="recipe_method" placeholder="Add how to make it here" rows="3" required data-validation-required-message="Please enter the recipe method."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </li>
         <!--- 3rd Item on ul card li group list-->
         <li class="list-group-item">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <i class="fa-solid fa-clock prefix"></i>
                  <label for="cooking_time">COOKING TIME</label>
                  <input type="text" name="cooking_time" class="form-control" placeholder="Add cooking time here" id="cooking_time" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"required data-validation-required-message="Please enter cooking time.">
                  <p class="help-block text-danger"></p>
                </div>
            </div>
        </li>
</ul>
            <div class="card-body">
                <a href="#" class="card-link">Add to Scullery</a>
                <a href="#" class="card-link">Edit Recipe</a>
            </div>
        </div>
        </form>
    </div>
</div>
<br>
<br>


{% endblock %}