{% extends "base.html" %}
{% block content %}


  <!--- Profile  -->

<section id="profile">

<div class="col" id="profilePageicon">
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fa-solid fa-user"></i></div>
    <div class="divider-custom-line"></div>
  </div> 
</div>

<div class="col p-4">
  <div class="row justify-content-center" id="profilePage">
    <div class="card" style="width: 18rem;">
      <img src="https://i.ebayimg.com/images/g/BIEAAOSwakJcJ3tN/s-l300.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="text-center text-darken-4">
        {{ username }}'s Profile
    </h3>
    
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
          <textarea class="form-control" placeholder="Add whatever you wish here :)" rows="3" required data-validation-required-message="Please enter recipe ingredients."></textarea>
        
      </div>
  </div>

     <div class="col p-2 text-center">
     <a href="{{ url_for('scullery') }}" class="btn btn-primary align-items-center">Go to Scullery</a>
    </div>

    </div>
  </div>
  </div>
</div>

</section>

{% endblock %}