{% extends "base.html" %}
{% block content %}

  <h2 class="register-head">Register</h2> 

  <!---  -->

<div class="card">
  <section id="register">
  <div class="container-fluid justify-content-center">
<div class="row" id="registerCard">
  <div class="col-lg-6 col-md-10 mx-auto"> 
    <form name="register" id="registerForm" method="POST" action="{{ url_for('register') }}">
          <!-- username -->
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <i class="fa-solid fa-user prefix light-blue-text text-darken-4"></i>
          <label>Username</label>
          <input type="text" name="username" class="form-control" placeholder="Username" id="username" minlength="5"
                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"required data-validation-required-message="Please enter your user name.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <!-- password -->
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <i class="fa-solid fa-key prefix light-blue-text text-darken-4"></i>
          <label>Password</label>
          <input type="text" name="password" class="form-control" placeholder="password" id="password" minlength="5"
                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required data-validation-required-message="Please enter your password.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
  
      <br>
      <!-- register -->
      <div id="registerBtn">
       <div class="form-group">
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Register <i class="fa-solid fa-utensils"></i></button>
       </div>
      </div>
    </form>
  </div>
</div>

</div>
</section>
</div>

{% endblock %}