{% extends "base.html" %}
{% block content %}

<!-- SCULLERY SECTION-->
<section class="page-section portfolio" name="scullery" id="portfolio">
    <div class="container">
        <!-- SCULLERY SECTION HEADING-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Scullery</h2>
        <!-- ICON DIVIDER-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- SCULLERY GRID ITEMS-->
        <div class="row">
            
             <!-- SCULLERY ITEM 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <a href="soups"><i class="fas fa-plus fa-3x"></i></a>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/assets/img/portfolio/soup-1.png" alt="Picture of a plate of Soup">
                </div>
            </div>

            <!-- SCULLERY ITEM 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <a href="starters"><i class="fas fa-plus fa-3x"></i></a>
                        </div>
                    <img class="img-fluid" src="static/assets/img/portfolio/Starters.png" alt="Picture of Cheese and Wine" />
                    </div>
                </div>
            </div>
            <!-- SCULLERY ITEM 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <a href="mains"><i class="fas fa-plus fa-3x"></i></a>
                        </div>
                    <img class="img-fluid" src="static/assets/img/portfolio/ChickenMain1.png" alt="Picture of a Chicken dish" />
                </div>
                </div>
            </div>
            <!-- SCULLERY ITEM 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <a href="puddings"><i class="fas fa-plus fa-3x"></i></a>
                       </div>
                    <img class="img-fluid" src="static/assets/img/portfolio/PuddingPic.png" alt="Picture of a Chocolate Cake" />
                    </div>
                </div>
            </div>
</section>
<!-- SCULLERY SECTION END-->

{% endblock %}