{% extends "base.html" %}
{% block content %}

<!-- SCULLERY SECTION-->
<section class="page-section portfolio" name="scullery" id="portfolio">
    <div class="row">
        <!-- SCULLERY SECTION HEADING-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Scullery</h2>
        <!-- ICON DIVIDER-->
        <div class="divider-custom">
         <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
            <div class="divider-custom-line"></div>
        </div>


        <!-- SCULLERY GRID ITEMS-->
    
        <!-- SOUPS -->

            <div class="col-lg-3 p-2">
                <div class="card-deck">
                  <div class="card align-items-center" style="width: 18rem;" id="soup_cards"> 
                      <img src="static/assets/img/portfolio/soup-1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h4 class="card-title text-center"><em></em></h4> 
                          </div>
            
                        <!---- VIEW BUTTON ---->
                        <div class="card-body">
                          <div class="buttons">
                            <div class="action_btn">
                              <div>
                                <a href="{{ url_for('get_soups') }}" id="viewBtn" class="btn btn-outline-secondary"><i class="fa-solid fa-book-open-reader px-1"></i>View Soups</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div> 
                  </div>
            </div>
        

         <!-- STARTERS -->

        
            <div class="col-lg-3 p-2">
                <div class="card-deck">
                  <div class="card align-items-center" style="width: 18rem;" id="soup_cards"> 
                      <img src="static/assets/img/portfolio/Starters.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h4 class="card-title text-center"><em></em></h4> 
                          </div>
            
                        <!---- VIEW BUTTON ---->
                        <div class="card-body">
                          <div class="buttons">
                            <div class="action_btn">
                              <div>
                                <a href="{{ url_for('get_starters') }}" id="viewBtn" class="btn btn-outline-secondary"><i class="fa-solid fa-book-open-reader px-1"></i>View Starters</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div> 
                  </div>
            </div>
        

        <!-- MAINS -->
        
            <div class="col-lg-3 p-2">
                <div class="card-deck">
                  <div class="card align-items-center" style="width: 18rem;" id="soup_cards"> 
                      <img src="static/assets/img/portfolio/ChickenMain1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h4 class="card-title text-center"><em></em></h4> 
                          </div>
            
                        <!---- VIEW BUTTON ---->
                        <div class="card-body">
                          <div class="buttons">
                            <div class="action_btn">
                              <div>
                                <a href="{{ url_for('get_mains') }}" id="viewBtn" class="btn btn-outline-secondary"><i class="fa-solid fa-book-open-reader px-1"></i>View Mains</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div> 
                  </div>
            </div>
       

        <!-- PUDDINGS -->
    
            <div class="col-lg-3 p-2">
                <div class="card-deck">
                  <div class="card align-items-center" style="width: 18rem;" id="soup_cards"> 
                      <img src="static/assets/img/portfolio/PuddingPic.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h4 class="card-title text-center"><em></em></h4> 
                          </div>
            
                        <!---- VIEW BUTTON ---->
                        <div class="card-body">
                          <div class="buttons">
                            <div class="action_btn">
                              <div>
                                <a href="{{ url_for('get_puddings') }}" id="viewBtn" class="btn btn-outline-secondary"><i class="fa-solid fa-book-open-reader px-1"></i>View Puddings</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div> 
                  </div>
            </div>
        
    </div>

</div>
</section>

{% endblock %}

<!-- col-md-6 col-lg-4 mb-5" -->