{% extends "base.html" %}
{% block content %}

<!-- SOUPS SECTION -->
<section class="page-section portfolio" name="soups" id="portfolio">
  <div class="container">


      <!-- SOUPS SECTION HEADING -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Soups</h2>
      <!-- ICON DIVIDER -->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fa-solid fa-cheese"></i></div>
          <div class="divider-custom-line"></div>
      </div>


      <!-- SOUP CARDS -->

<div class="row recipe-row">
{% for soup in soups %}
<div class="col-lg-3 deck-col p-4 m-2">
    <div class="card-deck">
      <div class="card align-items-center" style="width: 18rem;" id="soup_cards"> 
          <img src="{{ soup.recipe_url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center"><em>{{ soup.recipe_name }}</em></h4> 
              </div>
            <ul class="list-group list-group-flush">
              <h6 class="text-center"><strong>Summary</strong></h6>
              <li class="list-group-item">{{ soup.recipe_summary }}
                
            </li>
            <h6 class="text-center"><strong>Cooking Time</strong></h6>
            <li class="list-group-item text-center">{{ soup.cooking_time }}
                
            </li>
            <h6 class="text-center"><em>Created By:</em></h6>
            <li class="list-group-item text-center">{{ soup.created_by }}
                
            </li>
            </ul> 

            <!-- Edit and Delete Buttons -->
            <div class="card-body">
              <div class="buttons">
                <div class="action_btn">
                  <div>
                    <a href="{{ url_for('view_recipe', recipe_id=soup._id ) }}" id="viewBtn" class="btn btn-outline-secondary"><i class="fa-solid fa-book-open-reader px-1"></i>View</a>
                  </div>
                </div>
              </div>
            </div>

            
        </div> 
      </div>
    </div>
{% endfor %}
</div>
</section>
{% endblock %}
